@using Veterinary.Shared.Entities
<EditForm Model="Owner" OnSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">

        <label>Documento:</label>

        <div>
            <InputText width="10" @bind-Value="Owner.Document" />
            <ValidationMessage For="@(()=>Owner.Document)" />

        </div>

    </div>

    <div class="mb-3">
        <label>Nombre:</label>


        <div>
            <InputText width="10" @bind-Value="Owner.FirstName" />
            <ValidationMessage For="@(()=>Owner.FirstName)" />

        </div>

    </div>

    <div class="mb-3">
        <label>Apellidos:</label>

        <div>
            <InputText width="10" @bind-Value="Owner.LastName" />
            <ValidationMessage For="@(()=>Owner.LastName)" />

        </div>
    </div>


   


    <div class="mb-3">
        <label>Dirección:</label>

        <div>
            <InputText width="10" @bind-Value="Owner.Address" />
            <ValidationMessage For="@(()=>Owner.Address)" />

        </div>
    </div>

    <div class="mb-3">
        <label>Teléfono fijo:</label>
        <div>
            <InputText width="10" @bind-Value="Owner.FixedPhone" />
            <ValidationMessage For="@(()=>Owner.FixedPhone)" />

        </div>
    </div>
    <div class="mb-3">
        <label>Móvil:</label>

        <div>
            <InputText width="10" @bind-Value="Owner.CellPhone" />
            <ValidationMessage For="@(()=>Owner.CellPhone)" />

        </div>

    </div>


    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-success" onclick="ReturnAction">Regresar</button>



</EditForm>



@code {

    [EditorRequired]
    [Parameter]
    public Owner Owner { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [EditorRequired]
    [Parameter]

    public EventCallback ReturnAction { get; set; }



}
